docker.enabled = false
conda.enabled = true

process {
    executor = "local"
    memory = 1.GB
    withName: 'cowpy' {
        memory = 2.GB
        cpus=2
    }
    resourceLimits = [
        memory: 750.GB,
        cpus: 2
    ]
}


/*
* Profiles
*/
profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
        process.resourceLimits = [
            memory: 16.GB,
            cpus: 8
        ]
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    test {
        params.input = 'data/greetings.csv'
        params.batch = 'test'
        params.character = 'dragonandcow'
    }
}


/*
 * Pipeline parameters
 */
params {
    input = 'data/greetings.csv'
    batch = 'batch'
    character = 'turkey'
}

outputDir = "custom-outdir-config/${params.batch}"
workflow {
    output.mode = 'copy'
}
